.body_background 
{
    background-image: url("hoYe.gif");
    background-size: cover;
    
}
#myCanvas
{
    background-color: white;
    border-style: ridge;
    border: 8px black;
   
   
}

